<h2>Tambah Product</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
        <label>Brand</label>
        <input type="text" formControlName="brand" class="form-control"/>
        <div *ngif="form.get('brand')?.invalid && form.get('brand')?.touched" class="text-danger">
            Brand is required
        </div>
    </div>

    <div class="mb-3">
        <label>Description</label>
        <textarea formControlName="description"></textarea>
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input type="number" formControlName="price" />
        <div *ngif="form.get('price')?.invalid && form.get('price')?.touched" class="text-danger">
            Price is required and must be a positive number
        </div>
    </div> 

    <button type="submit" [disabled]="submiting">Simpan</button>
    <a routerLink="/products">Batal</a>
</form>